# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\victo\Dropbox\B2_epsi\30_projetGaber\BDD_medicament\Projet-b2-base_de_donnees_publique_des_medicaments-24-03-2021\ProjetMedicamentGaber\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
